source ~/.vimrc

" nnoremap p :action EditorPaste<CR>
augroup view
  autocmd!
augroup END

vnoremap gx :action Tool_External Tools_open in browser<CR>
vnoremap !r :action Tool_External Tools_copy for redmine<CR>
